<div class="row rounded shadow m-2 p-2">
    <div class="col">
        <div class="input-group mb-2">
            <input [(ngModel)]="citySearched" (keyup.enter)="checkCity()" list="cityList" id="cityName"
                class="form-control" type="text" placeholder="please enter your city name">
            <div class="input-group-append">
                <button (click)="checkCity()" type="button" class="btn btn-secondary">Search</button>
            </div>
        </div>
        <p *ngIf="error" class="alert alert-danger ">{{error}}</p>
        <datalist id="cityList">
            <option *ngFor="let city of cities">{{city.cityName}}</option>
        </datalist>

    </div>
</div>