<table class="table table-striped">

    <tr>
        <th>cityName</th>
        <td>{{city.cityName}}</td>
    </tr>
    <tr>
        <th>inseeCode</th>
        <td>{{city.inseeCode}}</td>
    </tr>
    <tr>
        <th>population</th>
        <td>{{city.population}}</td>
    </tr>
    <tr>
        <th>state</th>
        <td>{{city.state}}</td>
    </tr>
    <tr>
        <th>department</th>
        <td>{{city.department}}</td>
    </tr>
    <tr>
        <th>longitude</th>
        <td>{{city.longitude}}</td>
    </tr>
    <tr>
        <th>latitude</th>
        <td>{{city.latitude}}</td>
    </tr>
</table>