<div class="row shadow p-1 mt-5 mb-0 bg-white rounded">
    <div class="col-2 align-item-center">
        <p><img class="weatherIcone" src="{{weatherIco}}" alt="{{weather.label}}" title="{{weather.description}}"></p>
        <p class="font-weight-bolder">{{weather.temp}} °C</p>
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col border-bottom p-2">
                <p class="text-center">
                    <img class="infoWeatherIcone" src="assets/weatherIcon/tempMin.png" alt="tempMin"
                        title="minimal temp">
                    {{weather.tempMin}} °C
                    <img class="infoWeatherIcone" src="assets/weatherIcon/tempMax.png" alt="tempMax"
                        title="maximal temp">
                    {{weather.tempMax}} °C
                </p>
            </div>
            <div class="col border-bottom p-2">
                <p class="text-center">
                    <img class="infoWeatherIcone" src="assets/weatherIcon/humidity.png" alt="humidity" title="humidity">
                    {{weather.humidity}} %
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <p class="text-center">
                    <img class="infoWeatherIcone" src="assets/weatherIcon/wind.png" alt="wind" title="wind">
                    <img class="windArrow" [style]="style" src="{{windArrow}}" alt="windDirection">
                    {{weather.windSpeed}}m/s
                </p>
            </div>
            <div class="col p-2">
                <p class="text-center">
                    <img class="infoWeatherIcone" src="assets/weatherIcon/pressure.png" alt="pressure" title="pressure">
                    {{weather.pressure}} Pa
                </p>
            </div>

        </div>
    </div>
</div>
<div class="row p-0 mt-0">
    <div class="col p-0 m-0">
        <p class="text-right"style="font-size: 0.7em; columns: rgb(51, 50, 50);">last update : {{weather.dateAdd|date:'medium'}}</p>
    </div>
</div>









<!-- <div class="row shadow p-1 mb-5 bg-white rounded">

        <div class="col-12">

            <table style="font-size: 1vw" class="table table-bordered">
                <tr>
                    <th>logo</th>
                    <th>temp</th>
                    <th>tempMax</th>
                    <th>tempMin</th>
                </tr>
                <tr>
                    <td><img width="50px" src="https://images-ext-2.discordapp.net/external/AP46fMmh64eyGkKrmBlwLIBNBU93fho0pZHq_LWx3p4/https/img1.freepng.fr/20171220/lhe/real-sun-png-5a3ad40d3e9ac2.09858493151380481325643102.jpg"></td>
                    <td>{{weather.temp}} °C</td>
                    <td>{{weather.tempMax}} °C</td>
                    <td>{{weather.tempMin}} °C</td>
                </tr>
                <tr>
                    <th>windDirection</th>
                    <th>windSpeed</th>
                    <th>humidity</th>
                    <th>pressure</th>
                </tr>
                <tr>
                    <td>{{weather.windDirection}}</td>
                    <td>{{weather.windSpeed}} m/s</td>
                    <td>{{weather.humidity}} %</td>
                    <td>{{weather.pressure}} Pa</td>
                </tr>
            </table>
        </div>
    </div> -->