<div *ngIf="subject" class="row mt-1 shadow p-1 bg-white rounded">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <h5>{{subject.label}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>{{subject.memberLastName}} {{subject.memberFirstName}}</h5>
            </div>
        </div>
    </div>
    <div class="col-4">
        <p *ngIf="subject.answers.length > 0">last message : {{subject.answers[subject.answers.length -1].contain| slice:0:70}}
            <span *ngIf="subject.answers[subject.answers.length -1].contain.length>70">...</span>
        </p>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col">
                <p>
                    {{subject.dateAdd|date}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    answers : {{subject.answers.length}}
                </p>
            </div>
        </div>
    </div>
</div>