<footer class="bg-light text-center text-lg-start">
    <div class="row p-0">

        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Diginamic Training Center</h5>
            <p>
                Application designed and created by Nathan Girot, Louise Balbi and Sylvain Amianto, as part of the
                Diginamic training thread project
            </p>
        </div>

        <div class="col">
            <div class="row">
                <div class="col">
                    <h5 class="text-uppercase mb-0 text-center">Special thanks</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 4</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" row " style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="col text-center p-3">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
    </div>
</footer>