<button (click)="displayTopicFormToTrue()" type="button" class="btn btn-secondary mt-3"
  *ngIf="connectedMember && connectedMember.role.label == 'ADMIN' && !displayTopicForm">Add a topic</button>

<div class="input-group mb-2" *ngIf="displayTopicForm">
  <div class="input-group-prepend">
    <div class="input-group-text">Topic name</div>
  </div>
  <input class="form-control" type="text" [(ngModel)]="topicName" placeholder="please enter your topic name"
    (keyup.enter)="createTopic()">
</div>

<div class="row" *ngIf="topicList">
  <div class="col">
    <!-- creation de l'accordeon -->
    <ngb-accordion class="mt-3" #acc="ngbAccordion">
      <!-- pour chaque topic de la liste topic -->
      <ngb-panel *ngFor="let topic of topicList" title="{{topic.label}} ({{topic.subjects.length}} subjects)">
        <ng-template ngbPanelContent>
          <!-- pour chaque sujet de chaque topic -->
          <!-- si pas de sujet -->
          <p *ngIf="topic.subjects.length==0">Pas d'doigts pied, pas d'sujet !</p>
          <!-- sinon -->
          <a *ngFor="let subject of topic.subjects" routerLink="../subjects/{{subject.id}}">
            <app-module-subject [subject]="subject" [connectedMember]="connectedMember"></app-module-subject>
          </a>


          <!-- ajouter un sujet si connecter -->
          <button type="button" class="btn btn-secondary mt-3" (click)="displayFormSubject(topic.id)"
            *ngIf="connectedMember && !displaySubjectForm">Add a subject</button>




          <!-- formulaire du sujet -->
          <div class="mb-2" *ngIf="displaySubjectForm && topic.id== topicToAdd">
            <div class="input-group-prepend">
              <div class="input-group-text">Subject name</div>
            </div>
            <input class="form-control" type="text" [(ngModel)]="subjectName"
              placeholder="please enter your subject name">
            <!-- (keyup.enter)="createSubject(topic.id)"  -->
            <div>
              <textarea [(ngModel)]="firstAnswer" resize="none" cols="30" rows="10"></textarea>
            </div>
            <div>
              <button (click)="createSubject(topic.id)">aqzeaqsdqsdq</button>
            </div>
          </div>





        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>