<div class="border-bottom">
    <div class="row">
        <div class="col">
            <p style="font-size: 0.8em; color:#444; font-style: italic;">
                <span style="font-weight: bold;">{{comment.memberLastName}} {{comment.memberFirstName}}</span>
                has commented this message at {{comment.dateAdd|date:medium}}:
            </p>

        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-11">
            <p style="font-size: 0.8em; color:#444; font-style: italic;" [innerHTML]=comment.contain|nl2br></p>
        </div>
    </div>
</div>