<!-- <p>weather works!</p>

<div *ngFor= "let city of cities">
    {{city.cityName}}
    <div *ngFor= "let weather of city.weathers">
        ------------------------ {{weather.temp}}
    </div>
</div> -->

<div class="row">

    <div class="col-sm-12 col-md-6">
        Afficher la carte
        <!-- Déclaration du conteneur de la carte avec l'id "frugalmap" -->
        <div id="frugalmap">

        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col">
                <app-city-search [cities] = cities></app-city-search>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-city-infos></app-city-infos>
            </div>
        </div>
    </div>

</div>


